/* Dark Mode */
.dark-mode {
  background-color: #181818;
  color: white;
}

.dark-mode .card {
  background-color: #242424;
  color: white;
}

.dark-mode .sidebar {
  background-color: #222;
}

.dark-mode .sidebar-menu li:hover {
  background: #333;
}
